body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  padding: 1em 2em;
  color: white;
  background: rebeccapurple;

  border-radius: 1rem;
  border: 0;

  cursor: pointer;
  font-size: 2rem;
}

button:hover,
button:focus-visible {}